{{ block title }}
    Based on the other participant's {{player.topic}} Quiz results
{{ endblock }}

{{ block content }}

  <div style="width: 100%;">
        <div style="width: 65%; height: 200px; float: left;">
             <div style="width: 100%; height: 100px; float: left; position: relative;top: 10px; left: 30px;">
                    <p> Which probability matrix would you like to see?</p>

                    <button type="button" onclick="lowF()" id="btn_low" style="position: relative;top: 10px; left: 10px;" >Low Score</button>
                    <button type="button" onclick="midF()" id="btn_mid" style="position: relative;top: 10px; left: 10px;">Mid Score</button>
                    <button type="button" onclick="highF()" id="btn_high" style="position: relative;top: 10px; left: 10px;">High Score</button>
             </div>

            <div id="options" style="width: 25%; height: 200px; float: left; display:none;">

                <table class="table" style="position: relative; top: 10px; left: 20px; background-color: #EBEBEB;">

                        <tr>
                            <th colspan="2" style="white-space: nowrap;">
                                {{ form.effort.label }}

                            </th>
                        </tr>

                        <tr style="text-align: right">
                            <td>A</td>
                        </tr>
                    <tr style="text-align: right">
                            <td>B</td>
                        </tr>
                    <tr style="text-align: right">
                            <td>C</td>
                        </tr>



                </table>

            </div>

            <div id="choices" style="width: 10%; height: 200px; float: left; display:none;">

                <table class="table" style="position: relative; top: 10px; left: 20px; background-color: #EBEBEB;">

                        <tr>
                            <th>:</th>

                        </tr>
                    {{ for choice in form.effort }}
                        <tr >
                            <td>{{ choice }}</td>
                        </tr>

                    {{ endfor }}

                </table>


            </div>

            <div style="width: 55%; height: 200px; float: left;">



                <table class="table" id="Low" style="position: relative; top: 10px; left: 20px; background-color: #EBEBEB; display:none">

                        <tr style="text-align: center">
                            <th>Rate A</th><th>Rate B</th><th>Rate C</th>
                        </tr>
                        <tr style="text-align: center">
                            <td>20</td><td>25</td><td>40</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>7</td><td>30</td><td>45</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>2</td><td>20</td><td>50</td>
                        </tr>

                </table>

                <table class="table" id="Mid" style="position: relative; top: 10px; left: 20px; background-color: #EBEBEB; display:none">

                        <tr style="text-align: center">
                            <th>Rate A</th><th>Rate B</th><th>Rate C</th>
                        </tr>
                        <tr style="text-align: center">
                            <td>40</td><td>45</td><td>65</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>30</td><td>65</td><td>69</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>5</td><td>50</td><td>80</td>
                        </tr>

                </table>

                <table class="table" id="High" style="position: relative; top: 10px; left: 20px; background-color: #EBEBEB; display:none">

                        <tr style="text-align: center">
                            <th>Rate A</th><th>Rate B</th><th>Rate C</th>
                        </tr>
                        <tr style="text-align: center">
                            <td>45</td><td>55</td><td>75</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>35</td><td>69</td><td>80</td>
                        </tr>
                        <tr style="text-align: center">
                            <td>25</td><td>65</td><td>98</td>
                        </tr>

                </table>


            </div>

        </div>

        <div id="History" style="margin-left: 65%; height: 200px; display:none">
            <h4> Your Previous Outcomes</h4>

            <table class="table">
            <tr>

                <th> Choice </th>
                <th> Successes </th>
                <th>Failures</th>


            </tr>
                {{ if rounds == 0 }}
                <tr>
                    <td colspan="4"> You have no data for this task yet </td></tr>
                {{ else }}
                {{ for p in rounds }}
                <tr>

                    <td>
                        {{ if p.effort == 0 }}
                        A
                        {{else}}
                        {{if p.effort == 1}}
                        B
                        {{ else }}
                        C
                        {{endif }}
                        {{ endif }}
                    </td>
                    <td>
                        {{p.signal}}

                    </td>
                    <td>
                        {{p.fails}}
                    </td>
                </tr>
                {{endfor}}

                {{ endif }}
            </table>

            <button type="button" onclick="to_summary()" id="toS" style="margin-top: 50px;"> See Summary </button>
            <div style="margin-top: 10px;"> {{next_button}} </div>
        </div>

        <div id="Summary" style="margin-left: 65%; height: 200px; display:block">
            <h4> Your Previous Outcomes</h4>

            <table class="table">
            <tr>
                <th> Choice </th>
                <th> Successes </th>
                <th> Failures </th>


            </tr>
                {{ if rounds == 0 }}
                <tr>
                    <td colspan="3"> You have no data for this task yet </td></tr>
                {{ else }}
                <tr>
                    <td>A</td> <td> {{ sL }} </td><td> {{ fL }} </td>
                </tr>
                <tr>
                    <td>B</td> <td> {{ sM }} </td><td> {{ fM }} </td>
                </tr>
                <tr>
                    <td>C</td> <td> {{ sH }} </td><td> {{ fH }} </td>
                </tr>
                {{ endif }}
            </table>

            <button type="button" onclick="to_history()" id="toH" style="margin-top: 50px;"> See History </button>

            <div style="margin-top: 10px;"> {{next_button}} </div>
        </div>



    </div>


<script>
    var H = document.getElementById("History");
    var S = document.getElementById("Summary");
    var toH = document.getElementById("toH");
    var toS = document.getElementById("toS");
    var low = document.getElementById("Low");
    var mid = document.getElementById("Mid");
    var high = document.getElementById("High");
    var choices = document.getElementById("choices");
    var options = document.getElementById("options");


    function to_summary()
        {
            H.style.display = "none";
            S.style.display = "block";

            toS.style.display = "none";
            toH.style.display = "block";
        }

    function to_history()
        {
            H.style.display = "block";
            S.style.display = "none";

            toS.style.display = "block";
            toH.style.display = "none";
        }


    function lowF()
        {
            liveSend(0)
            low.style.display = "block";
            mid.style.display = "none";
            high.style.display = "none";
            choices.style.display = "block";
            options.style.display = "block";
        }

    function midF()
        {
            liveSend(1)
            low.style.display = "none";
            mid.style.display = "block";
            high.style.display = "none";
            choices.style.display = "block";
            options.style.display = "block";
        }

    function highF()
        {
            liveSend(2)
            low.style.display = "none";
            mid.style.display = "none";
            high.style.display = "block";
            choices.style.display = "block";
            options.style.display = "block";
        }

</script>


{{ endblock }}